<div style="border: 1px solid gray; padding: 1.5em; margin-bottom: 1em">
  <span style="display: inline">
    <img
      src="{{ page.profile_pic_url }}"
      height="48px"
      width="48px"
      style="border-radius: 50%"
    />
    <span class="dev-name" style="padding-left: 1ex; font-size: large">
      {{ page.name | escape }}
    </span>
  </span>
  <br />
  {%- if page.youtube_portfolio_id -%}
  <iframe
    width="480px"
    height="270"
    src="https://www.youtube.com/embed/{{ page.youtube_portfolio_id}}"
    frameborder="0"
    style="display: block; margin: 0 auto; padding: 1em"
    allowfullscreen
  ></iframe>
  {%- endif -%} {%- if page.github -%}
  <p class="dev-github">
    <b>GitHub:</b>&nbsp;<a
      target="_blank"
      href="https://github.com/{{ page.github }}"
      >{{ page.github }}</a
    >
  </p>
  {%- endif -%} {%- if page.website -%}
  <p class="dev-website">
    <b>Website:</b>&nbsp;<a target="_blank" href="https://{{ page.website }}"
      >{{ page.website }}</a
    >
  </p>
  {%- endif -%} {%- if page.discord_id && page.discord_handle -%}
  <p class="dev-discord">
    <b>Discord:</b>&nbsp;<a
      target="_blank"
      href="https://discord.com/users/{{ page.discord_id }}"
      >{{ page.discord_handle }}</a
    >
  </p>
  {%- endif -%} {%- if page.background -%}
  <p class="dev-background"><b>Background:</b>&nbsp;{{ page.background }}</p>
  {%- endif -%} {%- if page.availability -%}
  <p class="dev-status"><b>Availability:</b>&nbsp;{{ page.availability }}</p>
  {%- endif -%} {%- if page.timezone -%}
  <p class="dev-timezone"><b>Timezone:</b>&nbsp;{{ page.timezone }}</p>
  {%- endif -%}
</div>
